.wrapper__content-des {
  border: 2px solid #f0eeee;
  border-radius: 20px;
  padding: 30px;
}

.wrapper__content p {
    color: #7D7987;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
}

.wrapper__content-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid #f0eeee;
    border-radius: 20px;
    padding: 30px 70px;
    margin-bottom: 50px;
}

.wrapper__content-step-title {
    color: #0A52B5;
    padding: 10px 0;
    font-size: 30px;
}

.ant-radio-wrapper {
    font-size: 18px;
    color: #6D6E76;
    padding: 20px 100px;
}

.ant-picker {
    width: 300px;
    height: 50px;
}

.wrapper__content-step-datetimepicker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__content-step-cost {
    padding-top: 10px;
}

.wrapper__content-step-cost-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.wrapper__content-step-cost-item h3 {
    font-size: 18px;
}

.wrapper__content-step-cost-input {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapper__content-step-cost-input-item {
    padding-top: 20px;
}

.wrapper__content-step-reason {
    width: 90%;
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
}

.wrapper__content-step-reason-checkbox {
    padding-top: 10px;
    font-size: 16px;
}

.wrapper__content-step-triggers {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-left: 80px;
}

.questionnaire {
    margin-left: -30px;
    padding: 0px 30px;
    margin-bottom: 30px;
}

.wrapper__content-step-triggers-card-question {
    margin-bottom: -50px;
}

.questionnaire .ant-radio-wrapper {
    font-size: 16px;
    margin-bottom: -10px;
    margin-left: 0 !important;
    text-align: left;
    justify-content: flex-start;
    width: 130%;
}

.questionnaire .ant-radio {
    margin-right: 5px;
}

.wrapper__content-step-triggers-card-content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper__content-step-triggers-card-content .ant-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.wrapper__content-step-triggers-card-content .ant-radio-wrapper {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    justify-content: flex-start;
}

.wrapper__content-step-triggers-card {
    display: flex;  
    border: none;
    width: 48%;
    margin-top: 20px;
}

.wrapper__content-step-triggers-card-title {
    font-size: 20px;    
}

.delete-account {
    margin-bottom: 50px;
}

.wrapper__create-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__create-btn {
    min-width: 20%;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
}
